# dependencies
/node_modules

# Next.js
/.next/
/out/
/build

# TypeScript
*.tsbuildinfo
next-env.d.ts

# env / secrets
.env
.env.*
!.env.example

# logs
*.log

# vercel
.vercel

# editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# AI tooling
.claude/
